:root {
  --bg-white: #ece7e5;
  --bold-blue: #2468a0;
  --bold-hover: #163b58;
  --text-dark: #1A1A1A;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
  padding: 0;
  margin: 0;
  width: 100%;
}

section {
  scroll-margin-top: 40px;
  /* Sesuaikan dengan tinggi navbar kamu */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--bg-white);
  color: var(--text-dark);
  font-family: 'Inter', -apple-system, sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}